{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Sistema de Controle de estoque consolidado</h1>
                </div>
                <div>
                    <h2 class="h4">Funcionalidades de produtos:</h2>
                    <br>
                    <ul class="h5">
                        <li>Listar produtos dentro dos estoques.</li>
                        <br>
                        <li>Adicionar produtos dentro dos estoques.</li>
                        <br>
                        <li>Editar produtos dentro dos estoques.</li>
                        <br>
                        <li>Remover produtos dentro dos estoques.</li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
{% endblock %}